{% extends "dashboard/master.html" %}

{% from 'macro/pagination.html' import m_pagination %}

{% block head %} 
    {{ super() }}
    <meta name="description" content="List of task">
{% endblock %}

{% block title %} List {% endblock %}

{% block content %}

<h1>{{ _('List of Task') }}</h1>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Name</td>

        <td>Options</td>
    </tr>
    {% for t in tasks.items %}
    <tr>
        <td>
            {{ loop.index }}
        </td>
        <td>{{ t.name }}</td>
        <td>
            <a href="/tasks/update/{{ loop.index0 }}" target="_blank">Update</a>
        </td>
    </tr>
    {% endfor %}
</table>

{{ m_pagination(tasks) }}

{% endblock %}
